/* Generic stuff for all screens */

.cctv {
    width: 100% !important;
    height: 100% !important;
}

/* Stuff for the left holder */

.cctv_left_holder {
    width: 15% !important;
    height: 100% !important;
    float: left;
}

.cctv_left_title {
    color: white !important;
    text-align: center;
    font-size: 22px;
    margin-top: 25px;
}

/* Stuff for the right side */

.cctv_view_holder {
    width: 85% !important;
    height: 100% !important;
    float: right;
}
