/*

    Main home css stuff

*/

.background_image {
    left: 0% !important;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
    height: 1200px;
}

.main_home_holder {
    width: 100%;
    background-color: #262626;
}

.welcome_text_holder {
    color: white;
    text-align: center;
    font-size: 70px;
    opacity: 1 !important;
    text-align: center;
    width: 100vw;
    margin-left: -25vw;
}

.welcome_text_subtext {
    color: #D0D0D0 !important;
    text-align: center;
    font-size: 25px;
    opacity: 1 !important;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.welcome_holder {
    width: 50%;
    position: absolute;
    height: 200px;
    top: 260px;
    left: 25%;
}

.welcome_holder_background {
    /*background-color: #262626;*/
    width: 60%;
    position: absolute;
    height: 200px;
    top: 200px;
    left: 20%;
    opacity: 0.5;
}

.login_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.eve_login:hover {
    cursor: pointer !important;
}

.log_in {
    width: 40%;
    height: 60px;
    min-width: 300px !important;
    margin-top: 100px !important;
    align-self: center;
    cursor: pointer;
}

@media (max-width: 1200px) {

    .welcome_text_holder {
        font-size: 50px !important;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .welcome_text_subtext {
        font-size: 24px !important;
        margin-bottom: 25px;
    }

    .welcome_holder_background {
        height: 200px !important;
    }

    .wwo_holder {
        width: 90% !important;
    }
}

@media (max-width: 1800px) {
    .welcome_text_holder {
        font-size: 60px;
        margin-bottom: 25px;
    }

    .welcome_text_subtext {
        font-size: 32px;
        margin-bottom: 25px;
    }
}

@media (max-width: 1400px) {

    .welcome_text_holder {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .welcome_holder_background {
        height: 200px !important;
        max-height: 200px !important;
    }

    .welcome_text_subtext {
        font-size: 30px;
        margin-bottom: 25px;
    }
}

@media (max-width: 1200px) {
    .welcome_holder {
        height: 400px !important;
    }

    .welcome_holder_background {
        height: 400px !important;
    }
}

@media (max-width: 1000px) {
    .welcome_holder {
        height: 500px !important;
    }

    .welcome_holder_background {
        height: 500px !important;
    }
}

.who_we_are_holder {
    background-color: #1F1F20 !important;
    width: 80%;
    margin-left: 10% !important;
    margin-top: -450px;
    z-index: 1 !important;
    position: relative;
    padding-bottom: 50px;
}

.wwolist_icon {
    text-align: left !important;
    width: 10%;
    position: relative;
    float: left !important;
    height: 50px;
    font-size: 50px;
    margin-left: 20px;
    margin-top: 15px;
    color: #D0D0D0 !important;
}

.who_we_are_header {
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 20px;
    font-weight: light !important;
}

.paper_who_we_are {
    background-color: #262626 !important;
}

.who_we_are_content {
    width: 80%;
    margin-left: 10%;
    padding: 15px;
}

.who_we_are_text {
    font-size: 25px !important;
    padding: 35px;
    margin-top: 15px !important;
    color: #D0D0D0 !important;
}

.wwo_holder {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    color: white;
}

.wwo_header {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 20px;
    font-weight: light !important;
}

.wwo_list_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.wwo_list_holder_leadership {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 100%;
}

.wwoListItem {
    color: #D0D0D0;
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
    background-color: #262626 !important;
    max-width: 400px;
    width: 100%;
    margin-bottom: 25px;
    height: 400px;
    transition-duration: 150ms;
}

.wwoListItem:hover {
    background-color: #464646 !important;
}

.wwolist_title {
    text-align: right !important;
    width: 90%;
    padding-right: 15px;
    padding-top: 15px;
    font-size: 25px;
}

.wwolist_text {
    margin-top: 15px;
    text-align: left;
    padding: 15px;
    font-size: 25px;
    color: #D0D0D0;
}

.join_now_holder {
    color: white;
    width: 40%;
    margin-left: 25%;
    padding: 5%;
    height: 65px;
    margin-top: 50px;
}

.join_now_button {
    width: 100% !important;
    height: 100% !important;
    font-size: 32px !important;
    background-color: white !important;
    color: black !important;
    opacity: 0.8 !important;
}

/*

Leadership

*/

.leadership_title_text {
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 50px;
    font-weight: light !important;
}

.leadership_holder {
    background-color: #1F1F20 !important;
    width: 80%;
    margin-left: 10% !important;
    z-index: 1 !important;
    position: relative;
    padding-bottom: 50px;
    margin-top: 50px;
}

.leadership_alliance_director_holder {
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
    height: 500px;
    background-color: #262626 !important;
}

.wwolist_leadership_title {
    text-align: center !important;
    width: 100%;
    padding-right: 15px;
    padding-top: 15px;
    font-size: 42px;
    color: orange !important;
}

.wwoLeadershipItem {
    color: #D0D0D0;
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
    background-color: #262626 !important;
    max-width: 400px;
    width: 200%;
    margin-bottom: 25px;
    height: 680px;
}

.wwoLeadershipItemFull {
    color: #D0D0D0;
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
    background-color: #262626 !important;
    width: 90%;
    margin-bottom: 55px;
    height: 550px;

    /* Display flexbox */
    display: flex;
}

.wwolist_leadership_text {
    margin-top: 15px;
    text-align: left;
    padding: 35px;
    font-size: 24px;
    color: #D0D0D0;
}

.wwolist_leadership_role {
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: orange !important;
}

.wwolist_leadership_image {
    width: 40% !important;
    margin-left: 30%;
    margin-top: 25px;
    border-radius: 100%;
}

.wwolist_leadership_image_full {
    width: 30%;
    margin-left: 35%;
    margin-top: 55px;
    border-radius: 100% !important;
}

.wwoLeadershipFull_left {
    width: 100% !important;
}

.wwwoLeadershipFull_right {
    width: 100% !important;
}

.wwoLeadershipFull_text_right {
    font-size: 28px !important;
    text-align: center;
    height: 100%;
    padding: 100px;
}

.wwoLeadershipItem_spacer {
    color: #D0D0D0;
    margin-left: 15px;
    margin-right: 15px;
    align-self: center;
    background-color: transparent !important;
    max-width: 500px;
    width: 200%;
    margin-bottom: 25px;
    height: 680px;
}

/* /////////////////////
////////////////////////
///////////////////// */
/* Recruitment Holder */

.rec_holder {
    width: 100%;
    height: 1000px !important;
    margin-bottom: 55px;
    margin-top: 155px !important;
    z-index: 0 !important;
    background-image: url('../assets/img/wallpaper_two.png');
    background-size: cover;

    border-top: solid 23px #202020;
    border-bottom: solid 23px #202020;

    padding-top: 10%;

}

/*  src={require("../../assets/img/wallpaper_two.png")}  */

.rec_background_image {
    width: 100%;
    height: 108% !important;
    position: absolute;
    margin-top: -25px !important;
    z-index: 0 !important;
}

.rec_paper_main {
    width: 80%;
    height: auto;
    top: 10% !important;
    margin-left: 10%;
    background-color: #202020 !important;
    z-index: 0;
    padding-bottom: 50px;
}

.rec_join_title {
    width: 100%;
    color: #D0D0D0;
    font-size: 38px;
    text-align: center;
    padding-top: 32px;
    margin-bottom: 25px;
}

.rec_list_holder {
    width: 100%;
    height: 100%;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.rec_list_left {
    width: 100% !important;
    height: 650px;
}

.rec_list_right {
    width: 100% !important;
    height: 650px;
}

.rec_list_center {
    width: 100% !important;
    height: 650px;
}

.rec_left_obj:hover, .rec_right_obj:hover, .rec_center_obj:hover {
    background-color: #464646 !important;
}

.rec_left_obj, .rec_right_obj, .rec_center_obj {
    width: 90% !important;
    margin: 2.5% !important;
    background-color: #262626 !important;
    height: 80%;
    transition-duration: 150ms;
}

.rec_left_obj {
    margin-left: 5% !important;
    height: 95%;
}

.rec_center_obj {
    margin: 5% !important;
    margin-top: 2.5% !important;
    height: 95%;
}

.rec_right_obj {
    margin-left: 5% !important;
    height: 95%;
}

.rec_inner_title {
    width: 90% !important;
    font-size: 42px !important;
    color: #D0D0D0;
    text-align: center;
    padding-left: 5%;
    padding-top: 35px;
}
.rec_inner_info {
    text-align: center;
    width: 100%;
    color: #D0D0D0;
    font-size: 22px;
}

/* Mobile Styling... */
@media (max-width: 1444px) {
    .leadership_holder {        
        margin-top: 500px;
    }

    .wwoLeadershipItem {
        max-width: 80% !important;
        max-height: 500px !important;
    }

    .wwolist_leadership_image {
        width: 20% !important;
        margin-left: 40% !important;
    }

    .wwoLeadershipItemFull {

        display: block !important;
        height: 700px !important;
    }

    .wwolist_leadership_image_full {
        width: 35% !important;
        margin-left: 35% !important;
    }

    .wwoLeadershipFull_left {
        height: 350px;
    }

    .wwo_list_holder {
        padding: 0 !important;
    }

    .wwoLeadershipFull_text_right {
        font-size: 26px !important;
        padding: 20px;
        padding-top: 220px;
    }
    .rec_list_holder {
        flex-wrap: wrap;
    }

    .wwoListItem {
        height: 300px !important;
        max-width: 5000px !important;
    }
}

@media (max-width: 720px) {
    .wwoLeadershipFull_text_right {
        font-size: 26px !important;
        padding: 20px;
        padding-top: 30px;
    }

    .rec_holder {
        height: 1100px !important;
    }
}

@media only screen and (max-device-width: 720px) {
    .welcome_text_holder {
        font-size: 18px !important;
        margin-bottom: 5px !important;
        margin-left: 0px !important;
        width: 150% !important;
        margin-top: -100px !important;
        margin-left: -25% !important;
    }

    .welcome_text_subtext {
        font-size: 18px !important;
        width: 100% !important;
    }

    .welcome_holder_background {
        width: 80% !important;
        margin-left: -10% !important;
        height: 150px !important;
        max-height: 150px !important;
    }

    .background_image {
        height: 800px !important;
        max-height: 800px !important;
    }

    .who_we_are_header, .wwo_header {
        font-size: 18px !important;
    }

    .who_we_are_text {
        font-size: 18px !important;
        text-align: center;
    }

    .paper_who_we_are {
        margin-left: -30px !important;
    }

    .login_holder {
        margin-top: -80px !important;
    }

    .wwolist_icon {
        font-size: 26px !important;
    }

    .wwolist_title {
        font-size: 22px !important;
    }

    .wwolist_text {
        font-size: 14px !important;
    }

    .wwoListItem {
        height: 200px !important;
        max-width: 5000px !important;
    }

    .wwolist_leadership_title {
        font-size: 26px !important;
    }

    .wwolist_leadership_role {
        font-size: 12px !important;
    }

    .wwolist_leadership_text {
        font-size: 18px !important;
    }

    .wwoLeadershipFull_text_right {
        font-size: 18px !important;
        padding-top: 0 !important;
    }

    .wwoLeadershipItemFull {
        height: 600px !important;
    }

    .wwoLeadershipFull_left {
        height: 300px !important;
    }

    .wwoLeadershipItem {
        height: 550px !important;
    }

    .rec_join_title {
        font-size: 18px !important;
    }

    .rec_inner_title {
        font-size: 18px !important;
    }

    .rec_inner_info {
        font-size: 12px !important;
        margin-top: 10px !important;
    }

    .rec_paper_main {
        width: 100% !important;
        left: 0 !important;
        margin-left: 0 !important;
        margin-top: 100px !important;
    }

    .rec_holder {
        height: 950px !important;
    }

    .rec_list_left, .rec_list_right {
        height: 300px !important;
    }

    .leadership_holder {        
        margin-top: 50px;
    }
}

/*
    Media Player
*/

.home_media_holder {
    height: 850px;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F1F20;

}

.home-youtube-holder {
    float: center;
    width: 90%;
    height: 90% !important;
    align-self: center;
}

.home-youtube-holder * {
    height: 100% !important;
}