.mainBody {
    background-color: #262626;
}

.main_holder {
    background-color: #2F2F2F;
    width: 98vw;
    height: 80vh;
    margin-left: 1vw;
    margin-top: 11vh;
    position: absolute;
}

.toolbar_top {
    position: fixed !important;
    top: 0 !important;
}

* {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.imageRender {
    width: 50px;
    height: 50px;
    background-color: red;
}

.log_in_title {
    color: white;
    text-align: center;
    width: 100%;
    font-size: 24px;
    margin-top: 5%;
}

.eve_login_main {
    width: 15% !important;
    margin-left: 42.5%;
    margin-top: 15px;
}

.PrivateTabIndicator-colorSecondary-3 {
    background-color: orange !important;
}