/* 

    Primary setup here 
    
*/

.main_holder * {
    transition-duration: 0.2s;
}

.sig_tab_holder {
    width: 74%;
    margin-left: 0.5%;
    height: 4%;
    position: absolute;
    margin-top: 1%;
    z-index: 500 !important;
    
    /* Flexbox CSS */
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.sig_holder {
    width: 74%;
    height: 98%;
    float: left;
    margin: 0.5%;
    background-color: #202020;
}

.sig_holder_max {
    width: 99% !important;
}

.sig_holder {
    /* background-image: url("../assets/img/space.jpg"); */
}

.info_holder {
    width: 25%;
    height: 100%;
    float: right;
}

.sig_list_holder {
    width: 100%;
    height: 65%;
}

.lower_options_tab {
    height: 34%;
    width: 98%;
    margin: 1%;
    margin-top: -1%;
    background-color: #202020;
}

/* Header Options */

.sigOptionsHeaderHolder {
    width: 100%;
    height: 45px;
    background-color: #303030;
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.sigOptionsHeaderHolderMain {
    width: 100%;
    height: 90px;
}

.sig_selected_system {
    width: 100%;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 24px;
    background-color: #303030;
}

.sig_options_header_holder {
    width: 100%;
    padding-top: 5px;
    border: solid 2px gray;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    background-color: lightgray;

    /* Flexbox */
    display: flex;
}

.options_icon {
    text-align: right;
    width: 50%;
    color: #202020;
    font-size: 26px;
}

.sig_options_header_text {
    text-align: left;
    font-size: 18px;
    width: 50% !important;
    margin-top: -2px;
    margin-right: 15px;
}

.sig_options_header_holder:hover {
    font-size: 28px;
    border: solid 4px gray;
}

.option_disabled {
    color: #303030;
    border: solid 0px gray !important;
    background-color: #303030 !important;
}

/*

Sig List

*/

.sig_list_main {
    width: 98%;
    height: 98%;
    margin: 1%;
    background-color: #202020;
}

.sig_list_header {
    width: 24%;
    height: 28px;
    position: fixed;
    background-color: #303030;
    margin-top: 0px;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: solid 2px #404040;

    margin-bottom: -5px;
}

.sig_list_header_tab_scan_strength {
    width: 50px !important;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 6px;
    margin-left: 5px;
    padding-left: 5px;
}

.sig_list_header_tab_scan_strength_entry {
    color: gray;
    padding-top: 5px;
    min-width: 50px !important;
    max-width: 50px !important;
    font-size: 10px;
    margin-left: 5px;
    padding-left: 5px;
}

.scan_strength_100 {
    color: darkgreen !important;
    font-weight: bold !important;
}

.sig_list_header_tab {
    width: 100%;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 6px;
}

.sig_list_header_tab_age {
    width: 80%;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 6px;
}

.sig_list_entry_text_age {
    width: 80%;
    font-size: 12px;
    color: #D0D0D0;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
}

.sig_list_header_tab_name {
    width: 150%;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-top: 6px;
}

.sig_list_entry, .sig_list_entry_active {
    width: 98%;
    margin-left: 1%;
    height: 23px;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    border-bottom: solid 1px gray;
    padding-bottom: 1px;
    cursor: pointer;

    z-index: 2000 !important;
}

.sig_list_entry_active {
    background-color: #101010 !important;
}

.sig_list_entry:hover {
    background-color: #404040 !important;
}

.sig_list_entry_text_name {
    width: 180%;
    font-size: 12px;
    color: #D0D0D0;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    overflow-x: hidden;
}

.sig_list_entry_text_hole {
    width: 50%;
    font-size: 12px;
    color: #D0D0D0;
    text-align: left;
    padding-top: 5px;
    overflow-x: hidden;
}

.info_icon_sig_list_entry {
    position: absolute;
    margin-left: -30px;
    padding-top: 2px;
    width: 45px;
    text-align: center;
    height: 15px;
}

.info_icon_sig_list_entry:hover {
    font-size: 16px !important;
    color: orange !important;
}

.sig_list_entry_text {
    width: 100%;
    font-size: 12px;
    color: #D0D0D0;
    text-align: left;
    padding-top: 5px;
    overflow-x: hidden;
}

.sig_list_bottom_padding {
    width: 100%;
    height: 200px;
}

.sig_list_top_padding {
    width: 100%;
    height: 40px;
}

.sig_scroll_view {
    width: 24%;
    margin-top: 40px;
    height: 37% !important;
    position: fixed;
    overflow-y: scroll;
}

/* Hiding scrollbar */
.sig_list_holder ::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.sig_list_holder ::-webkit-scrollbar-thumb {
    /*background: #FF0000;*/
}




/* Pogger System! */

.poggersys_connection_display_row {
    width: 100%;
}



.no_selected_system_view {
    width: 100%;
    height: 50px;
    padding-top: 10%;
    font-size: 35px;
    color: white;
    text-align: center;
}

.no_selected_system_view_input_header {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    font-size: 18px;
    color: white;
    text-align: center;
}

.input_no_selected_system {
    width: 50%;
    margin-left: 25% !important;
    height: 80px;
    background-color: #808080;
    text-align: center !important;
    font-size: 48px !important;
    
}

.text_field_holder_input_system {
    width: 100%;
}

.create_system_button {
    width: 20% !important;
    margin-left: 40% !important;
    margin-top: 25px !important;
}

.input_no_selected_system input {
    text-align: center !important;
    font-size: 38px !important;
    color: white !important;
    height: 100%;
}

.loading {
    width: 100%;
    height: 200px;
    margin-top: 15%;
    font-size: 35px;
    color: white;
    text-align: center;
}

.poggersys_holder {
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
    padding-top: 30px;
    margin-left: 0%;

    overflow: scroll !important;
}

.poggersys_row {
    width: 96%;
    height: 55px;

    margin: 2%;
    margin-bottom: 95px;

    flex-direction: row;
    justify-content: center;
    display: flex;

    margin-left: 200px;
    margin-right: 200px;
}




/* Sig Top Tab */




.sig_tab_holder_tab, .sig_tab_holder_tab_MAX {
    color: #404040;
    font-size: 16px;
    background-color: #808080;
    width: 120px;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    transition-duration: 0s !important;

}

.sig_tab_holder_tab_MAX {
    height: 35px !important;
}

.sig_tab_holder_tab_nickname {
    font-size: 14px !important;
    width: 100% !important;
    text-align: left;
    padding-left: 5px;
}

.sig_tab_holder_tab_system_name {
    font-size: 12px !important;
    font-weight: 100 !important;
    width: 100% !important;
    text-align: left;
    padding-left: 5px;
}

.sig_trash_icon {
    position: absolute;
    float: right;
    width: 20px;
    color: white;
    margin-left: 35px;
    cursor: pointer;
}
.sig_trash_icon:hover {
    color: #802010;
    font-size: 18px;
    transition-duration: 0.5s !important;
}

.active_sig_tab {
    color: white;
    font-size: 16px;
    font-weight: bold
}

/* Pogger System View */

.poggersys_system_hidden {
    height: 100%;

    border-radius: 15px;


    flex: 1;
    z-index: 20 !important;
}

.poggersys_system_container {
    height: 100%;


    flex: 1;
    z-index: 20 !important;
}

.poggersys_system {
    height: 100% !important;
    width: 88% !important;
    margin-left: 5% !important;
    border-radius: 15px;
    background-color: #333942 !important;
    border: solid 2px #555555;
}

.poggersys_system_type {
    text-align: center;
    font-size: 12px;
    width: 10px;
    margin-left: 10px;
    padding-top: 2px;
    color: #D0D0D0;
    float: left;
    text-align: left;
}

.poggersys_system_name {
    width: 100%;
    font-size: 22px;
    color: white;
    float: left;
    text-align: center;
    margin-top: 7px;
}

.poggersys_system_connections {
    text-align: right !important;
    font-size: 10px;
    width: 40px;
    margin-left: 0;
    padding-top: 2px;
    margin-right: 10px;
    color: #D0D0D0;
    float: right;

    overflow: hidden;
}

.poggersys_system_connections_detail {

    margin-right: 7px;
    text-align: center;
    height: 10px;
    float: left;
    width: 100%;
    margin-top: 5px;
    font-size: 12px;

    /* Flexbox */
    display: flex;

    transition-duration: 0s !important;

}

.poggersys_system_sig_count {
    margin-left: 7px;
    text-align: right;
    height: 10px;
    font-size: 10px;
    color: gray;
    float: left;
}

.poggersys_system_scan_strength_level {
    margin-right: 7px;
    text-align: right;
    height: 10px;
    font-size: 10px;
    color: white;
    float: right;
    color: gray;
}

.poggersys_internal_static_display_list {
    width: 100% !important;
}

.poggersys_inner_display_scan_strength {
    float: right !important;
    font-weight: bold;
    font-size: 14px;
    margin-left: 1px;
    margin-top: -4px;
    color: gray;
}

.poggersys_system_nickname {
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    color: white;
    position: absolute;
    text-align: center;
}

.sys_selected {
    background-color: #303030;
    border: solid 3px lightblue;
}

.pogger_view_expand_view {
    position: relative;
    width: 10px;
    height: 60px;
    margin-left: 125px;
    margin-top: 5px !important;
}

.pogger_view_expand_view_arrow {
    color: white !important;
    padding-top: 15px;
    margin-left: 12px;
    font-size: 16px;
}

/*

    Pogger Notes ETC

*/

.lower_options_tabs {
    width: 100%;
    height: 28px !important;
    background-color: #303030;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.lower_options_tab_obj {
    color: #d0d0d0;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding-top: 3px !important;
}

.lower_options_tab_obj:hover {
    font-size: 14px !important;
    cursor: pointer;
}

.active_tab {
    color: white;
    font-weight: bold;
    font-size: 14px;
}


/*
    Pogger Notes
*/

.no_system_selected {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    height: 80px;
    color: white;
    font-size: 18px;
}

/*
    Pop up
*/

.popup_sig_bacgkround {
    background-color: rgba(50,50,50, 0.7);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    z-index: 500 !important;
}

.popup_sig {
    position: fixed;
    width: 30%;
    height: 460px;
    background-color: rgb(220,220,220) !important;
    z-index: 501;
    border-radius: 25px !important;
    left: 35%;
    top: 10%;
}

.popup_close {
    width: 92%;
    text-align: right !important;
    padding: 4%;
    height: 0px !important;
}

.close_icon {
    cursor: pointer;
    color: gray;
    font-size: 18px;
}

.close_icon:hover {
    font-size: 22px !important;
    color: black;
}

.popupTitle {
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: black;
    margin-top: -15px;
    text-align: center;
}

.popupSigData {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: left;
    margin-left: 10%;
}

.popupSigData_id_title {
    color: black;
    font-size: 20px;
    width: 15px;
    margin-right: 15px;
    padding-top: 6px;
}

.popupSigData_letter {
    margin-left: 5px !important;
    margin-right: 5px !important;
    max-width: 70px !important;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    background-color: rgb(230,230,230);
    height: 40px;
}

.popupSigData_number {
    margin-left: 5px !important;
    max-width: 70px !important;
    margin-right: 5px !important;
    box-shadow: 2px 2px gray;
    border-radius: 5px;
    background-color: rgb(230,230,230);
    height: 40px;
}

*:before {
    border: 0 !important;
}

.popupSigData_number input {
    font-size: 24px;
    text-align: center;
    border: 0 !important;
}

.popupSigData_letter input {
    font-size: 24px;
    text-align: center;
    
    border: 0 !important;
}

.popupSigTypeDropdown {
    height: 30px;
    width: 50%;
    float: right !important;
    margin-left: 30px;
    background-color: rgb(230,230,230) !important;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    padding: 5px;
}

.popupSigTypeSelect {
    width: 100%;
    height: 90%;
    margin-top: 2px;
}

.popupSigData_name {
    width: 100%;
    height: 40px;
    background-color: rgb(230,230,230) !important;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    padding: 5px;
    margin-left: 10% !important;
}

.popupSigData_name input {
    font-size: 20px;
    padding-top: 10px;
    text-align: left;
    padding-left: 15px;
    border: 0 !important;   
}

.break {
    width: 100%;
    height: 15px;
}

.popupButtons {
    bottom: 0 !important;
    width: 90%;
    margin-left: 5%;
    height: 40px;
    position: absolute;
    margin-bottom: 15px;
    
    /* Flexbox */
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.popupButtonsButton {
    width: 20%;
    background-color: rgb(230,230,230) !important;
    margin-left: 10px !important;
    box-shadow: 2px 2px gray;
    margin-right: 10px !important;
    border-radius: 5px !important;
}

.wormhole_type_data_holder {
    width: 90%;
    margin-left: 5%;
    height: 80px;

    /* Flexbox */
    display: flex;
    align-items: flex-start;
}

.popupSigData_wh_type_title {
    width: 5% !important;
    color: black;
    font-size: 20px;
    margin-right: 15px;
    padding-top: 6px;
}

.popupSigData_wh_type {
    width: 90%;
    height: 40px;
    background-color: rgb(230,230,230) !important;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    padding: 5px;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.popupSigData_wh_type input {
    font-size: 20px;
    padding-top: 10px;
    text-align: left;
    padding-left: 15px;
    border: 0 !important;
}

.popupSigData_wh_lifespan_title {
    width: 1% !important;
    color: black;
    font-size: 20px;
    margin-right: 15px;
    padding-top: 6px;
    margin-left: 5%;
}

.popupSigData_wh_life {
    width: 30%;
    height: 40px;
    background-color: rgb(230,230,230) !important;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
    padding: 5px;
    margin-left: 10% !important;
    margin-right: 2% !important;
}

.popupSigData_wh_life input {
    font-size: 20px;
    padding-top: 10px;
    text-align: left;
    padding-left: 15px;
    border: 0 !important;
}

.popupSigData_wh_lifespan_info {
    width: 5% !important;
    color: black;
    font-size: 20px;
    margin-right: 15px;
    padding-top: 6px;
}

/* Custom sig styling */
.sig_list_type_Wormhole {
    color: #5178ff !important;
}

.sig_list_type_Unknown {
    color: #606060 !important;
}

.sig_list_type_Ore, .sig_list_type_Gas {
    color: #eccd85;
}

.sig_list_type_Relic, .sig_list_type_Data {
    color: #69aa5e;
}

.sig_list_type_Combat {
    color: #FF8080;
}

.sig_list_set_home_data:hover {
    font-size: 16px;
    color: orange !important;
}

.displayCanvas {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
}

.system_effect_image {
    width: 15px;
    height: 90% !important;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0 !important;
}